<div #scrollContainer class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <ng-container *transloco="let t">
        <div *ngIf="mostrarInfo" class="-mt-px flex-auto border-t ">
            <div class="mx-auto w-full max-w-screen-xl">
                <section #anclaNacionales class="relative">
                    <div class="sticky top-0 z-30 shadow py-2 transition duration-300"
                        [ngStyle]="{background: tipoDestino === 1 ? '#F0FDF4' : '#FEF7EC'}">
                        <h2 class="text-center font-bold text-2xl"
                            [ngStyle]="{color: tipoDestino === 1 ? '#166534' : '#F9B44B'}">
                            {{ tipoDestino === 1 ? t('destinos-nacionales')
                            : t('destinos-internacionales')
                            }}</h2>

                        <div class="flex flex-col gap-4 items-center w-full">
                            <form [formGroup]="hotelesForm" class="w-full max-w-4xl">

                                <div class="w-full">
                                    <div class="flex justify-center pb-2">
                                        <div class="relative w-full max-w-xs sm:max-w-sm">
                                            <!-- <span *ngIf="tipoDestino === 2" class="flex justify-center items-center gap-2 text-center pb-2"><b>Continente:</b>
                                            {{destinoSelected.continente.nombre}}</span> -->
                                            <div class="w-full px-5 py-2.5 rounded-full border-2
             text-sm md:text-base font-semibold text-left
             cursor-pointer transition duration-200 flex items-center" [ngClass]="{
        'border-[#1B6F56] text-[#1B6F56]': tipoDestino === 1,
        'border-none': tipoDestino === 2
      }">
                                                <mat-select *ngIf="tipoDestino === 1"
                                                    formControlName="hotelSeleccionado" class="pill-mat-select w-full"
                                                    [panelClass]="'panel-nacionales'" disableRipple>
                                                    <mat-option [value]="null" disabled> {{ t('seleccionar-destino') }}
                                                    </mat-option>
                                                    <mat-option *ngFor="let destino of destinos" [value]="destino.id">
                                                        {{ destino.nombre }}
                                                    </mat-option>
                                                </mat-select>

                                                <!-- <mat-select *ngIf="tipoDestino === 2" formControlName="hotelSeleccionado"
                                                class="pill-mat-select w-full" [panelClass]="'panel-internacionales'"
                                                disableRipple>
                                                <mat-option [value]="null" disabled>Selecciona un destino</mat-option>

                                                <mat-optgroup *ngFor="let grupo of agrupadosDestinos"
                                                    [label]="grupo.nombrePadre">
                                                    <mat-option *ngFor="let destino of grupo.destinos"
                                                        [value]="destino.id">
                                                        {{ destino.nombre }}
                                                    </mat-option>
                                                </mat-optgroup>
                                            </mat-select> -->

                                                <div *ngIf="tipoDestino === 2" class="w-full px-5 py-2.5 rounded-full border-2
            text-sm md:text-base font-semibold text-left
            cursor-pointer transition duration-200 flex items-center" [ngClass]="{
       'border-[#F9B44B] text-[#F9B44B]': tipoDestino === 2
     }">

                                                    <input matInput
                                                        class="w-full bg-transparent outline-none border-none"
                                                        [placeholder]="t('seleccionar-destino')"
                                                        [formControl]="destinoCtrl" [matAutocomplete]="autoDestinos" />

                                                    <mat-icon class="ml-2 text-inherit">expand_more</mat-icon>
                                                </div>

                                                <mat-autocomplete #autoDestinos="matAutocomplete"
                                                    [displayWith]="displayDestino"
                                                    (optionSelected)="onDestinoSelected($event.option.value)">

                                                    <ng-container *ngFor="let grupo of filteredAgrupadosDestinos">
                                                        <mat-optgroup [label]="grupo.nombrePadre">
                                                            <mat-option *ngFor="let destino of grupo.destinos"
                                                                [value]="destino">
                                                                {{ destino.nombre }}
                                                            </mat-option>
                                                        </mat-optgroup>
                                                    </ng-container>

                                                </mat-autocomplete>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="flex justify-center ">
                                    <button *ngIf="tipoDestino === 1" mat-stroked-button type="button" color="accent"
                                        class="flex items-center gap-2 bg-black text-white px-4 py-2 rounded-full hover:bg-gray-700 transition duration-200"
                                        (click)="irA()">
                                        <div class="flex items-center">
                                            <img class="w-6 h-6 mr-2" src="assets/icons/destinos-internacionales.svg" />
                                            {{ t('destinos-internacionales') }}

                                        </div>
                                    </button>
                                    <button *ngIf="tipoDestino === 2" mat-raised-button type="button" color="accent"
                                        class="mr-2" (click)="irANacionales()">
                                        <div class="flex items-center">
                                            <img class="w-6 h-6 mr-2" src="assets/icons/destinos-nacionales.svg" />
                                            {{ t('destinos-nacionales') }}
                                        </div>
                                    </button>
                                </div>
                            </form>
                        </div>

                        <!-- <app-floating-search class=" z-[70]" [data]="listaHoteles" [debounceMs]="150"
                        (filtered)="onHotelesFiltrados($event)">
                    </app-floating-search> -->

                    </div>

                    <div *ngIf="tipoDestino === 1" class="flex min-w-0 flex-auto flex-col mt-2">
                        <div class="flex-auto p-3 sm:p-5">

                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 p-6">
                                <div *ngIf="hotelesPorCiudad.length === 0 && ciudadSeleccionada"
                                    class="mt-12 flex flex-col items-center justify-center text-center animate-fadeIn">

                                    <div class="flex flex-col items-center justify-center bg-red-100/20 border border-red-400/40 
           rounded-2xl p-6 max-w-md shadow-lg backdrop-blur-sm">

                                        <div
                                            class="w-16 h-16 flex items-center justify-center rounded-full bg-red-500/20 mb-4">
                                            <mat-icon class="text-red-500 text-4xl">hotel</mat-icon>
                                        </div>

                                        <h3 class="text-xl font-semibold text-red-500 mb-2">
                                            {{ t('no-hoteles') }}

                                        </h3>

                                        <p class="text-base text-gray-400">
                                            {{ t('hoteles-no-encontrados') }}
                                            <br>
                                            {{ t('seleccionar-nueva-ciudad') }}
                                        </p>

                                    </div>
                                </div>
                                <div *ngFor="let hotel of hotelesPorCiudad">

                                    <fuse-card
                                        class="cursor-pointer filter-listing relative flex w-full h-48 flex-col bg-cover bg-center text-white rounded-2xl overflow-hidden transition duration-200 hover:scale-105 card-animada"
                                        [ngStyle]="{ 'background-image': 'url(' + (hotel.fondo || fallback) + ')' }"
                                        (click)="verDetalleHotel(hotel)">

                                        <div class="absolute inset-0 bg-black/40 z-0"></div>
                                        <div *ngIf="hotel?.descuento" class="absolute top-2 right-2 z-20">
                                            <div [ngClass]="getDescuentoClass(hotel)"
                                                class="text-xs font-bold px-2 py-1">
                                                <div class="flex items-center">
                                                    <span *ngIf="hotel.descuentoSeguro" class="mr-1 inline-flex items-center justify-center
             w-4 h-4
             [&>svg]:w-4 [&>svg]:h-4 [&>svg]:align-middle" [innerHTML]="hotel.descuentoSeguro">
                                                    </span>

                                                    {{ hotel?.descuento.tipo_descuento }}
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="hotel?.concepto" class="absolute top-2 left-2 z-20">
                                            <div class="text-xs font-bold px-2 py-1">
                                                <div class="flex items-center">
                                                    <span *ngIf="hotel?.concepto?.descripcion !== 'Solo Adultos'"
                                                        [innerHTML]="hotel.conceptoIconoSeguro"></span>
                                                    <img class="w-6 h-6 mr-2"
                                                        *ngIf="hotel?.concepto?.descripcion === 'Solo Adultos'"
                                                        src="assets/icons/adultos.svg" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="relative z-10 m-8 mb-4">
                                            <div class="text-2xl font-semibold leading-tight">{{ hotel.nombre_hotel }}
                                            </div>

                                            <div class="-ml-1 mt-2 flex items-center leading-none">
                                                <div class="flex items-center">
                                                    <ng-container *ngFor="let _ of getFullStars(hotel?.estrellas)">
                                                        <mat-icon class="text-yellow-400 icon-size-5"
                                                            [svgIcon]="'mat_outline:star'"></mat-icon>
                                                    </ng-container>
                                                    <ng-container *ngIf="hasHalfStar(hotel?.estrellas)">
                                                        <mat-icon class="text-yellow-400 icon-size-5"
                                                            [svgIcon]="'mat_outline:star_half'"></mat-icon>
                                                    </ng-container>
                                                    <ng-container *ngFor="let _ of getEmptyStars(hotel?.estrellas)">
                                                        <mat-icon class="text-yellow-400 icon-size-5"
                                                            [svgIcon]="'mat_outline:star_outline'"></mat-icon>
                                                    </ng-container>
                                                </div>
                                                <div class="ml-2">{{ hotel?.estrellas }}</div>
                                            </div>
                                            <div class="w-3/5">

                                                {{hotel?.regimen?.descripcion}}
                                            </div>
                                        </div>

                                        <div class="absolute bottom-4 right-2 z-20 flex items-center gap-2">
                                            <div class="text-sm text-right leading-tight"
                                                [innerHTML]="t('ver-galeria-salto')">
                                            </div>

                                            <div
                                                class="w-10 h-10 rounded-full text-white flex items-center justify-center shadow-md">
                                                <mat-icon [svgIcon]="'heroicons_outline:arrow-right-circle'"
                                                    class="text-white w-6 h-6"></mat-icon>
                                            </div>
                                        </div>
                                    </fuse-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="tipoDestino === 2" class="flex min-w-0 flex-auto flex-col mt-2">
                        <div class="flex-auto px-3 sm:p-5">

                            <div *ngIf="gruposDestinos.length === 0 && ciudadSeleccionada"
                                class="mt-12 flex flex-col items-center justify-center text-center animate-fadeIn">

                                <div class="flex flex-col items-center justify-center bg-red-100/20 border border-red-400/40 
           rounded-2xl p-6 max-w-md shadow-lg backdrop-blur-sm">

                                    <div
                                        class="w-16 h-16 flex items-center justify-center rounded-full bg-red-500/20 mb-4">
                                        <mat-icon class="text-red-500 text-4xl">hotel</mat-icon>
                                    </div>

                                    <h3 class="text-xl font-semibold text-red-500 mb-2">
                                        No hay hoteles disponibles
                                    </h3>

                                    <p class="text-base text-gray-400">
                                        Actualmente no encontramos hoteles.
                                        <br>
                                        Intenta seleccionar otra ciudad o vuelve más tarde.
                                    </p>

                                </div>
                            </div>

                            <mat-accordion [multi]="false">
                                <mat-expansion-panel *ngFor="let grupo of gruposDestinos" class="mb-2 rounded-2xl"
                                    #panel1="matExpansionPanel" [hideToggle]="true">
                                    <mat-expansion-panel-header>
                                        <div class="flex items-center w-full">
                                            <span class="text-lg">
                                                {{ grupo.destino }}
                                            </span>

                                            <span class="ml-auto mr-2 text-sm text-gray-500">
                                                {{ t('ver-mas') }}
                                            </span>

                                            <mat-icon class="transition-transform duration-200" [svgIcon]="panel1.expanded
            ? 'heroicons_outline:chevron-up'
            : 'heroicons_outline:chevron-down'">
                                            </mat-icon>
                                        </div>
                                    </mat-expansion-panel-header>
                                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 px-6">

                                        <!-- CARDS (solo 3 o todas) -->
                                        <ng-container
                                            *ngFor="let hotel of hotelesMostrados(grupo); trackBy: trackByHotelId">
                                            <fuse-card
                                                class="cursor-pointer filter-listing relative flex w-full h-48 flex-col bg-cover bg-center text-white rounded-2xl overflow-hidden transition duration-200 hover:scale-105 card-animada"
                                                [ngStyle]="{ 'background-image': 'url(' + (hotel.fondo || fallback) + ')' }"
                                                (click)="verDetalleHotel(hotel)">

                                                <div class="absolute inset-0 bg-black/40 z-0"></div>

                                                <div *ngIf="hotel?.descuento" class="absolute top-2 right-2 z-20">
                                                    <div [ngClass]="getDescuentoClass(hotel)"
                                                        class="text-xs font-bold px-2 py-1">
                                                        <div class="flex items-center">
                                                            <span *ngIf="hotel.descuentoSeguro" class="mr-2 inline-flex items-center justify-center
                        w-4 h-4
                        [&>svg]:w-4 [&>svg]:h-4 [&>svg]:align-middle" [innerHTML]="hotel.descuentoSeguro">
                                                            </span>

                                                            {{ hotel?.descuento.tipo_descuento }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div *ngIf="hotel?.concepto" class="absolute top-2 left-2 z-20">
                                                    <div class="text-xs font-bold px-2 py-1">
                                                        <div class="flex items-center">
                                                            <span
                                                                *ngIf="hotel?.concepto?.descripcion !== 'Solo Adultos'"
                                                                [innerHTML]="hotel.conceptoIconoSeguro"></span>
                                                            <img class="w-6 h-6 mr-2"
                                                                *ngIf="hotel?.concepto?.descripcion === 'Solo Adultos'"
                                                                src="assets/icons/adultos.svg" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="relative z-10 m-8 mb-4">
                                                    <div class="text-2xl font-semibold leading-tight">
                                                        {{ hotel.nombre_hotel }}
                                                    </div>

                                                    <div class="-ml-1 mt-2 flex items-center leading-none">
                                                        <div class="flex items-center">
                                                            <ng-container
                                                                *ngFor="let _ of getFullStars(hotel?.estrellas)">
                                                                <mat-icon class="text-yellow-400 icon-size-5"
                                                                    [svgIcon]="'mat_outline:star'"></mat-icon>
                                                            </ng-container>
                                                            <ng-container *ngIf="hasHalfStar(hotel?.estrellas)">
                                                                <mat-icon class="text-yellow-400 icon-size-5"
                                                                    [svgIcon]="'mat_outline:star_half'"></mat-icon>
                                                            </ng-container>
                                                            <ng-container
                                                                *ngFor="let _ of getEmptyStars(hotel?.estrellas)">
                                                                <mat-icon class="text-yellow-400 icon-size-5"
                                                                    [svgIcon]="'mat_outline:star_outline'"></mat-icon>
                                                            </ng-container>
                                                        </div>
                                                        <div class="ml-2">{{ hotel?.estrellas }}</div>
                                                    </div>

                                                    <div class="w-3/5">
                                                        {{ hotel?.regimen?.descripcion }}
                                                    </div>
                                                </div>

                                                <div class="absolute bottom-4 right-2 z-20 flex items-center gap-2">
                                                    <div class="text-sm text-right leading-tight"
                                                        [innerHTML]="t('ver-galeria-salto')">
                                                    </div>

                                                    <div
                                                        class="w-10 h-10 rounded-full text-white flex items-center justify-center shadow-md">
                                                        <mat-icon [svgIcon]="'heroicons_outline:arrow-right-circle'"
                                                            class="text-white w-6 h-6"></mat-icon>
                                                    </div>
                                                </div>
                                            </fuse-card>
                                        </ng-container>

                                        <!-- BANDA + BOTÓN "VER MÁS" (solo si hay más de 3 y NO está expandido) -->
                                        <div *ngIf="grupo?.hoteles?.length > 3"
                                            class="md:col-span-3 sm:col-span-2 col-span-1 relative my-2">

                                            <button #toggleGrupoBtn type="button" class="absolute inset-0 flex items-center justify-center text-lg font-medium text-primary
             cursor-pointer hover:underline select-none" (click)="toggleGrupo(grupo, toggleGrupoBtn)">
                                                <mat-icon>
                                                    {{ estaExpandido(grupo) ? 'expand_less' : 'expand_more' }}
                                                </mat-icon>

                                                {{ estaExpandido(grupo) ? t('ver-menos') : t('ver-mas') }}
                                            </button>

                                        </div>

                                    </div>

                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </section>
            </div>

        </div>

        <!-- <div *ngIf="!mostrarInfo" class="h-full flex items-center justify-center">
            <div class="flex min-w-0 flex-auto flex-col mt-2 items-center justify-center">
                <div class="flex justify-center items-center p-3 sm:p-5 w-full">

                    <fuse-card class="flex flex-col max-w-xl w-full md:w-[600px] h-full " [flippable]="true" #heroCard>

                        <ng-container fuseCardFront>
                            <div class="relative w-full h-full rounded-3xl overflow-hidden shadow-lg
                flex items-center justify-center text-white bg-cover bg-center"
                                [ngStyle]="{ 'background-image': currentImage ? 'url(' + currentImage + ')' : 'none' }"
                                [class.pointer-events-none]="heroCard?.face === 'back'">

                                <div *ngIf="overlayImage"
                                    class="absolute inset-0 bg-cover bg-center transition-opacity duration-500 pointer-events-none"
                                    [ngStyle]="{ 'background-image': 'url(' + overlayImage + ')' }"
                                    [class.opacity-0]="!isTransitioning" [class.opacity-100]="isTransitioning">
                                </div>

                                <div class="absolute inset-0 bg-black/40 z-0 pointer-events-none"></div>

                                <div class="absolute top-10 z-10 flex flex-col items-center text-center px-6 space-y-2">
                                    <span class="text-3xl md:text-4xl font-bold">{{ t('titulo-destinos') }}</span>
                                </div>

                                <div class="absolute bottom-10 transform flex flex-col sm:flex-row gap-4 z-20">
                                    <button
                                        class="px-8 py-3 bg-green-700 text-white text-lg font-semibold rounded-full shadow-md hover:bg-green-800 transition"
                                        (click)="heroCard.face = 'back'; cargarDestinos(1)">
                                        {{ t('destinos-nacionales') }}
                                    </button>

                                    <button
                                        class="px-8 py-3 bg-[#F9B44B] text-white text-lg font-semibold rounded-full shadow-md hover:bg-[#e0a13a] transition"
                                        (click)="heroCard.face = 'back'; cargarDestinos(2)">
                                        {{ t('destinos-internacionales') }}
                                    </button>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container fuseCardBack>
                            <div class="relative w-full h-full rounded-3xl overflow-hidden shadow-lg
                bg-[#0B0B2B] flex flex-col justify-center items-center px-8 py-10 text-white">

                                <button type="button" mat-icon-button
                                    class="absolute top-4 right-4 z-[9999] bg-white/10 hover:bg-white/20 rounded-full transition"
                                    (click)="heroCard.face = 'front'" (touchstart)="heroCard.face = 'front'">
                                    <mat-icon class="text-white">arrow_back</mat-icon>
                                </button>

                                <div class="w-full text-center">
                                    <h2 class="text-3xl font-bold mb-4 tracking-tight">
                                        {{ tipoDestino === 1
                                        ? t('selecciona-destino')
                                        : t('explora-continente')
                                        }}
                                    </h2>

                                    <p class="text-md text-gray-300 mb-6">
                                        {{
                                        tipoDestino === 1
                                        ? t('texto-nacionales')
                                        : t('texto-internacionales')
                                        }}
                                    </p>

                                    <div
                                        class="flex flex-col gap-4 max-h-[280px] overflow-y-auto px-1 custom-scrollbar">
                                        <button
                                            *ngFor="let item of (tipoDestino === 1 ? destinos : this.agrupadosDestinos)"
                                            class="w-full py-3 bg-white/10 hover:bg-white/20 rounded-xl shadow-md 
                         text-lg font-semibold tracking-wide backdrop-blur-sm transition 
                         flex items-center justify-between px-5 group" (click)="cargaInfo(item)">
                                            <span class=" group-hover:not-italic">
                                                {{ tipoDestino === 1 ? item.nombre : item.nombrePadre }}
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </fuse-card>

                </div>
            </div>
        </div> -->

        <div *ngIf="!mostrarInfo" class="min-h-full flex items-center justify-center">
            <div class="flex min-w-0 flex-auto flex-col mt-2 items-center justify-center h-full w-full">
                <div class="relative flex justify-center items-center p-3 sm:p-5 md:p-8 w-full h-full">

                    <fuse-card class="flex flex-col max-w-xl w-full md:w-[600px] h-[70vh] sm:h-[80vh] md:h-[70vh]"
                        [flippable]="true" #heroCard>

                        <ng-container fuseCardFront>
                            <div class="relative w-full h-full rounded-3xl overflow-hidden shadow-lg
                    flex items-center justify-center text-white bg-cover bg-center"
                                style="backface-visibility: hidden; -webkit-backface-visibility: hidden;"
                                [ngStyle]="{ 'background-image': currentImage ? 'url(' + currentImage + ')' : 'none' }"
                                [style.pointerEvents]="heroCard?.face === 'back' ? 'none' : 'auto'"
                                [style.visibility]="heroCard?.face === 'back' ? 'hidden' : 'visible'"
                                [style.zIndex]="heroCard?.face === 'front' ? 20 : 0">

                                <div *ngIf="overlayImage"
                                    class="absolute inset-0 bg-cover bg-center transition-opacity duration-500 pointer-events-none"
                                    [ngStyle]="{ 'background-image': 'url(' + overlayImage + ')' }"
                                    [class.opacity-0]="!isTransitioning" [class.opacity-100]="isTransitioning"></div>

                                <div class="absolute inset-0 bg-black/40 z-0 pointer-events-none"></div>

                                <div class="absolute top-10 z-10 flex flex-col items-center text-center px-6 space-y-2">
                                    <span class="text-3xl font-bold">{{ t('titulo-destinos') }}</span>
                                </div>

                                <div class="absolute bottom-10 transform flex flex-col gap-4 z-20">
                                    <button
                                        class="px-8 py-3 bg-green-700 text-white text-lg font-semibold rounded-full shadow-md hover:bg-green-800 transition"
                                        (click)=" cargarDestinos(1); showOverlay();">
                                        {{ t('destinos-nacionales') }}
                                    </button>

                                    <button class="px-8 py-3 bg-[#F9B44B] text-white text-lg font-semibold rounded-full shadow-md
         hover:bg-[#e0a13a] transition
         [text-shadow:_0_2px_2px_rgba(0,0,0,0.50)]" (click)="showOverlay(); cargarDestinos(2)">
                                        {{ t('destinos-internacionales') }}
                                    </button>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container fuseCardBack>
                            <div class="relative w-full h-full rounded-3xl shadow-lg
                bg-[#0B0B2B] flex flex-col px-8 pt-10 pb-6 text-white z-[1000]">
                            </div>
                        </ng-container>

                    </fuse-card>
                    @if(overlayAnimatedOnce){

                    <div class="absolute max-w-xl w-full md:w-[600px] h-[70vh] sm:h-[80vh] md:h-[70vh] px-1" [ngClass]="[
        heroCard?.face === 'back'
          ? 'opacity-100 z-[50] pointer-events-auto'
          : 'opacity-0 z-[-1] pointer-events-none',
    
        overlayAnimatedOnce
          ? 'transition-opacity duration-1000'
          : ''
      ]">

                        <div class="relative w-full h-full rounded-3xl shadow-lg
                  bg-[#0B0B2B] flex flex-col px-8 pt-10 pb-6 text-white">

                            <button type="button" mat-icon-button
                                class="absolute top-4 right-4 z-[9999] bg-white/10 hover:bg-white/20 rounded-full transition"
                                (click)="hideOverlay();">
                                <mat-icon class="text-white">arrow_back</mat-icon>
                            </button>

                            <div class="w-full h-full flex flex-col text-center min-h-0">
                                <h2 class="text-3xl font-bold mb-4 tracking-tight">
                                    {{ tipoDestino === 1 ? t('selecciona-destino') : t('explora-continente') }}
                                </h2>

                                <p class="text-md text-gray-300 mb-6">
                                    {{ tipoDestino === 1 ? t('texto-nacionales') : t('texto-internacionales') }}
                                </p>

                                <div class="flex flex-col gap-4 flex-1 min-h-0 overflow-y-auto px-1 custom-scrollbar">
                                    <button *ngFor="let item of (tipoDestino === 1 ? destinos : this.agrupadosDestinos)"
                                        class="w-full py-3 bg-white/10 hover:bg-white/20 rounded-xl shadow-md
                               text-lg font-semibold tracking-wide backdrop-blur-sm transition
                               flex items-center justify-between px-5 group z-[9999]" (click)="cargaInfo(item)">
                                        <span class="group-hover:not-italic">
                                            {{ tipoDestino === 1 ? item.nombre : item.nombrePadre }}
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }

                </div>
            </div>
        </div>

        <app-footer />
    </ng-container>
</div>