<style>
    .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .accordion-item.active .accordion-content {
        max-height: 1000px;
    }

    .accordion-item.active .chevron-icon {
        transform: rotate(180deg);
    }
</style>

<div #scrollContainer class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <ng-container *transloco="let t">
        <div class="-mt-px flex-auto border-t ">
            <div class="mx-auto w-full max-w-screen-xl">
                <section #anclaNacionales class="relative">
                    <div class="sticky top-0 z-30 shadow py-2 transition duration-300"
                        [ngStyle]="{background: tipoDestino === 1 ? '#F0FDF4' : '#FEF7EC'}">
                        <h2 class="text-center font-bold text-2xl"
                            [ngStyle]="{color: tipoDestino === 1 ? '#166534' : '#F9B44B'}">
                            {{ tipoDestino === 1 ? t('destinos-nacionales')
                            : t('destinos-internacionales')
                            }}</h2>

                        <div class="flex flex-col gap-4 items-center w-full">
                            <form [formGroup]="hotelesForm" class="w-full max-w-4xl">

                                <div class="w-full">
                                    <div class="flex justify-center pb-2">
                                        <div class="relative w-full max-w-xs sm:max-w-sm">
                                            <!-- <span *ngIf="tipoDestino === 2" class="flex justify-center items-center gap-2 text-center pb-2"><b>Continente:</b>
                                            {{destinoSelected.continente.nombre}}</span> -->
                                            <div class="w-full px-5 py-2.5 rounded-full border-2
             text-sm md:text-base font-semibold text-left
             cursor-pointer transition duration-200 flex items-center" [ngClass]="{
        'border-[#1B6F56] text-[#1B6F56]': tipoDestino === 1,
        'border-[#F9B44B] text-[#F9B44B]': tipoDestino === 2
      }">
                                                <mat-select *ngIf="tipoDestino === 1"
                                                    formControlName="hotelSeleccionado" class="pill-mat-select w-full"
                                                    [panelClass]="'panel-nacionales'" disableRipple>
                                                    <mat-option [value]="null" disabled> {{ t('seleccionar-destino') }}
                                                    </mat-option>
                                                    <mat-option *ngFor="let destino of destinos" [value]="destino.id">
                                                        {{ destino.nombre }}
                                                    </mat-option>
                                                </mat-select>

                                                <mat-select *ngIf="tipoDestino === 2"
                                                    formControlName="hotelSeleccionado" class="pill-mat-select w-full"
                                                    [panelClass]="'panel-internacionales'" disableRipple>
                                                    <mat-option [value]="null" disabled>Selecciona un
                                                        destino</mat-option>

                                                    <mat-optgroup *ngFor="let grupo of agrupadosDestinos"
                                                        [label]="grupo.nombrePadre">
                                                        <mat-option *ngFor="let destino of grupo.destinos"
                                                            [value]="destino.id">
                                                            {{ destino.nombre }}
                                                        </mat-option>
                                                    </mat-optgroup>
                                                </mat-select>

                                                <!-- <div *ngIf="tipoDestino === 2" class="w-full px-5 py-2.5 rounded-full border-2
            text-sm md:text-base font-semibold text-left
            cursor-pointer transition duration-200 flex items-center" [ngClass]="{
       'border-[#F9B44B] text-[#F9B44B]': tipoDestino === 2
     }">

                                                    <input #destinoInput matInput
                                                        class="w-full bg-transparent outline-none border-none"
                                                        [placeholder]="t('seleccionar-destino')"
                                                        [formControl]="destinoCtrl" [matAutocomplete]="autoDestinos" />

                                                    <mat-icon class="ml-2 text-inherit cursor-pointer"
                                                        (click)="abrirAutocomplete(destinoInput)">
                                                        expand_more
                                                    </mat-icon>

                                                </div>

                                                <mat-autocomplete #autoDestinos="matAutocomplete"
                                                    [displayWith]="displayDestino"
                                                    (optionSelected)="onDestinoSelected($event.option.value)">

                                                    <ng-container *ngFor="let grupo of filteredAgrupadosDestinos">
                                                        <mat-optgroup [label]="grupo.nombrePadre">
                                                            <mat-option *ngFor="let destino of grupo.destinos"
                                                                [value]="destino">
                                                                {{ destino.nombre }}
                                                            </mat-option>
                                                        </mat-optgroup>
                                                    </ng-container>

                                                </mat-autocomplete> -->
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="flex justify-center ">
                                    <button *ngIf="tipoDestino === 1" mat-stroked-button type="button" color="accent"
                                        class="flex items-center gap-2 bg-black text-white px-4 py-2 rounded-full hover:bg-gray-700 transition duration-200"
                                        (click)="irA()">
                                        <div class="flex items-center">
                                            <img class="w-6 h-6 mr-2" src="assets/icons/destinos-internacionales.svg" />
                                            {{ t('destinos-internacionales') }}

                                        </div>
                                    </button>
                                    <!-- <button *ngIf="tipoDestino === 2" mat-raised-button type="button" color="accent"
                                        class="mr-2" (click)="irANacionales()">
                                        <div class="flex items-center">
                                            <img class="w-6 h-6 mr-2" src="assets/icons/destinos-nacionales.svg" />
                                            {{ t('destinos-nacionales') }}
                                        </div>
                                    </button> -->
                                </div>
                            </form>
                        </div>

                        <!-- <app-floating-search class=" z-[70]" [data]="listaHoteles" [debounceMs]="150"
                        (filtered)="onHotelesFiltrados($event)">
                    </app-floating-search> -->

                    </div>

                    <div *ngIf="tipoDestino === 1" class="flex min-w-0 flex-auto flex-col mt-2">
                        <div class="flex-auto p-3 sm:p-5">

                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 p-6">
                                <div *ngIf="hotelesPorCiudad.length === 0 && ciudadSeleccionada"
                                    class="mt-12 flex flex-col items-center justify-center text-center animate-fadeIn">

                                    <div class="flex flex-col items-center justify-center bg-red-100/20 border border-red-400/40 
           rounded-2xl p-6 max-w-md shadow-lg backdrop-blur-sm">

                                        <div
                                            class="w-16 h-16 flex items-center justify-center rounded-full bg-red-500/20 mb-4">
                                            <mat-icon class="text-red-500 text-4xl">hotel</mat-icon>
                                        </div>

                                        <h3 class="text-xl font-semibold text-red-500 mb-2">
                                            {{ t('no-hoteles') }}

                                        </h3>

                                        <p class="text-base text-gray-400">
                                            {{ t('hoteles-no-encontrados') }}
                                            <br>
                                            {{ t('seleccionar-nueva-ciudad') }}
                                        </p>

                                    </div>
                                </div>
                                <div *ngFor="let hotel of hotelesPorCiudad">

                                    <fuse-card
                                        class="cursor-pointer filter-listing relative flex w-full h-48 flex-col bg-cover bg-center text-white rounded-2xl overflow-hidden transition duration-200 hover:scale-105 card-animada"
                                        [ngStyle]="{ 'background-image': 'url(' + (hotel.fondo || fallback) + ')' }"
                                        (click)="verDetalleHotel(hotel)">

                                        <div class="absolute inset-0 bg-black/40 z-0"></div>
                                        <div *ngIf="hotel?.descuento" class="absolute top-2 right-2 z-20">
                                            <div [ngClass]="getDescuentoClass(hotel)"
                                                class="text-xs font-bold px-2 py-1">
                                                <div class="flex items-center">
                                                    <span *ngIf="hotel.descuentoSeguro" class="mr-1 inline-flex items-center justify-center
             w-4 h-4
             [&>svg]:w-4 [&>svg]:h-4 [&>svg]:align-middle" [innerHTML]="hotel.descuentoSeguro">
                                                    </span>

                                                    {{ hotel?.descuento.tipo_descuento }}
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="hotel?.concepto" class="absolute top-2 left-2 z-20">
                                            <div class="text-xs font-bold px-2 py-1">
                                                <div class="flex items-center">
                                                    <span *ngIf="hotel?.concepto?.descripcion !== 'Solo Adultos'"
                                                        [innerHTML]="hotel.conceptoIconoSeguro"></span>
                                                    <img class="w-6 h-6 mr-2"
                                                        *ngIf="hotel?.concepto?.descripcion === 'Solo Adultos'"
                                                        src="assets/icons/adultos.svg" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="relative z-10 m-8 mb-4">
                                            <div class="text-2xl font-semibold leading-tight">{{ hotel.nombre_hotel }}
                                            </div>

                                            <div class="-ml-1 mt-2 flex items-center leading-none">
                                                <div class="flex items-center">
                                                    <ng-container *ngFor="let _ of getFullStars(hotel?.estrellas)">
                                                        <mat-icon class="text-yellow-400 icon-size-5"
                                                            [svgIcon]="'mat_outline:star'"></mat-icon>
                                                    </ng-container>
                                                    <ng-container *ngIf="hasHalfStar(hotel?.estrellas)">
                                                        <mat-icon class="text-yellow-400 icon-size-5"
                                                            [svgIcon]="'mat_outline:star_half'"></mat-icon>
                                                    </ng-container>
                                                    <ng-container *ngFor="let _ of getEmptyStars(hotel?.estrellas)">
                                                        <mat-icon class="text-yellow-400 icon-size-5"
                                                            [svgIcon]="'mat_outline:star_outline'"></mat-icon>
                                                    </ng-container>
                                                </div>
                                                <div class="ml-2">{{ hotel?.estrellas }}</div>
                                            </div>
                                            <div class="w-3/5">

                                                {{hotel?.regimen?.descripcion}}
                                            </div>
                                        </div>

                                        <div class="absolute bottom-4 right-2 z-20 flex items-center gap-2">
                                            <div class="text-sm text-right leading-tight"
                                                [innerHTML]="t('ver-galeria-salto')">
                                            </div>

                                            <div
                                                class="w-10 h-10 rounded-full text-white flex items-center justify-center shadow-md">
                                                <mat-icon [svgIcon]="'heroicons_outline:arrow-right-circle'"
                                                    class="text-white w-6 h-6"></mat-icon>
                                            </div>
                                        </div>
                                    </fuse-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-y-4 m-4">
                        <div *ngIf="gruposDestinos.length === 0 && ciudadSeleccionada"
                                    class="mt-12 flex flex-col items-center justify-center text-center animate-fadeIn">

                                    <div class="flex flex-col items-center justify-center bg-red-100/20 border border-red-400/40 
           rounded-2xl p-6 max-w-md shadow-lg backdrop-blur-sm">

                                        <div
                                            class="w-16 h-16 flex items-center justify-center rounded-full bg-red-500/20 mb-4">
                                            <mat-icon class="text-red-500 text-4xl">hotel</mat-icon>
                                        </div>

                                        <h3 class="text-xl font-semibold text-red-500 mb-2">
                                            {{ t('no-hoteles') }}

                                        </h3>

                                        <p class="text-base text-gray-400">
                                            {{ t('hoteles-no-encontrados') }}
                                            <br>
                                            {{ t('seleccionar-nueva-ciudad') }}
                                        </p>

                                    </div>
                                </div>
                        <div *ngFor="let grupo of gruposDestinos"
                            class="accordion-item  bg-white dark:bg-slate-800/50 rounded-2xl shadow-sm border border-slate-100 dark:border-slate-700/50 overflow-hidden">
                            <div class="accordion-header cursor-pointer group flex items-center justify-between p-4 md:p-6"
                                onclick="this.parentElement.classList.toggle('active')">
                                <div class="flex items-center gap-6">
                                    <div
                                        class="w-20 h-20 md:w-24 md:h-24 rounded-xl overflow-hidden shadow-inner flex-shrink-0">
                                        <img alt="Imagen del destino"
                                            class="w-full h-full object-cover group-hover/card:scale-105 transition-transform duration-700"
                                            [src]="grupo.imagen || fallback" />
                                    </div>
                                    <div>
                                        <h3 class="text-xl md:text-2xl font-bold text-slate-800 dark:text-white">{{
                                            grupo.destino }}</h3>
                                    </div>
                                </div>
                                <div
                                    class="flex items-center gap-3 text-slate-400 group-hover:text-primary transition-colors">
                                    <span class=" font-medium text-sm">{{ t('ver-mas') }}</span>
                                    <span
                                        class="material-icons-round chevron-icon transition-transform duration-300"><mat-icon
                                            class="transition-transform duration-200"
                                            svgIcon='heroicons_outline:chevron-down'>
                                        </mat-icon></span>
                                </div>
                            </div>
                            <div class="accordion-content">
                                <div class="p-6 pt-0 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                                    <div *ngFor="let hotel of hotelesMostrados(grupo); trackBy: trackByHotelId"
                                        class="bg-slate-50 dark:bg-slate-900 rounded-2xl overflow-hidden border border-slate-100 dark:border-slate-700 group/card relative">
                                        <div class="relative h-48 overflow-hidden">
                                            <img alt="Resort"
                                                class="w-full h-full object-cover group-hover/card:scale-105 transition-transform duration-700"
                                                [src]="hotel.fondo || fallback" />
                                            <div class="absolute inset-0 bg-black/40"></div>
                                            <div *ngIf="hotel?.descuento"
                                                class="absolute top-4 left-4 flex flex-col gap-2">
                                                <span
                                                    class="bg-red-500 text-white text-[10px] font-bold px-2 py-1 rounded-md flex items-center gap-1 uppercase tracking-wider">
                                                    <span *ngIf="hotel.descuentoSeguro" class=" inline-flex items-center justify-center
                        w-4 h-4
                        [&>svg]:w-4 [&>svg]:h-4 [&>svg]:align-middle" [innerHTML]="hotel.descuentoSeguro">
                                                    </span>
                                                    {{ hotel?.descuento.tipo_descuento }}
                                                </span>

                                            </div>

                                            <div class="absolute bottom-4 left-4 flex gap-1 items-center">
                                                <div class="flex items-center">
                                                    <ng-container *ngFor="let _ of getFullStars(hotel?.estrellas)">
                                                        <mat-icon class="text-yellow-400 icon-size-5"
                                                            [svgIcon]="'mat_outline:star'"></mat-icon>
                                                    </ng-container>
                                                    <ng-container *ngIf="hasHalfStar(hotel?.estrellas)">
                                                        <mat-icon class="text-yellow-400 icon-size-5"
                                                            [svgIcon]="'mat_outline:star_half'"></mat-icon>
                                                    </ng-container>
                                                    <ng-container *ngFor="let _ of getEmptyStars(hotel?.estrellas)">
                                                        <mat-icon class="text-yellow-400 icon-size-5"
                                                            [svgIcon]="'mat_outline:star_outline'"></mat-icon>
                                                    </ng-container>
                                                </div>
                                                <span class="text-white text-md font-bold px-1.5 rounded ">{{
                                                    hotel?.estrellas }}</span>
                                            </div>
                                        </div>
                                        <div class="p-5">
                                            <h4 class="text-lg font-bold text-slate-800 dark:text-white leading-tight">
                                                {{ hotel.nombre_hotel }}
                                            </h4>
                                            <div class="mt-2 flex items-center gap-2 text-primary font-medium text-sm">
                                                Todo Incluido
                                            </div>
                                            <div class="mt-6 flex gap-2">
                                                <button (click)="verDetalleHotel(hotel)"
                                                    class="flex-1 bg-primary hover:bg-emerald-600 text-white font-semibold py-3 rounded-xl transition-all shadow-md active:scale-[0.98]">
                                                    {{t('ver-galeria')}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>

        <app-footer />
    </ng-container>
</div>